.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

.answers-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
  }
  
  .answers {
    max-width: 600px;
    padding: 40px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .answers h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
  }
  
  .mcq-option {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .form-check-input {
    margin-right: 15px;
  }
  
  .btn-submit {
    margin-top: 30px;
  }
  