

.card {
  margin: 10px; /* Add space between cards */
  border: 1px solid #ddd; /* Add border to cards */
  transition: box-shadow 0.3s, background-color 0.3s; /* Add transitions for hover effects */
}

.card:hover {
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1); /* Add shadow on hover */
  background-color: #aabcf6; /* Change background color on hover */
  transition: 0.5s;
  cursor: pointer;
}

.card-title {
  font-size: 1.25rem; /* Increase font size for card title */
}

.card-text {
  font-size: 1rem; /* Increase font size for card text */
}

.card-clickable {
  transition: transform 0.2s;
}

.card-clickable:hover {
  transform: scale(1.02);
}
